/* You can add global styles to this file, and also import other style files */
.footerbackground
{
    background-color: #383b6f;
}

.fs {
    font-size: 12px;
}

.backgroundcolor {
    background: #a52a2a !important;
}